<h1>Show Page</h1>

  <div class="flex">
    <div class="mr2">Name:</div>
    <div><%= @event.name%></div>
  </div>

  <div class="flex">
    <div class="mr2">Location:</div>
    <div><%= @event.location%></div>
  </div>

  <div class="flex">
    <div class="mr2">Price:</div>
    <div><%= price_view(@event)%></div>
  </div>

  <div class="flex">
    <div class="mr2">Starts At:</div>
    <div><%= @event.starts_at%></div>
  </div>

  <div class="flex">
    <div class="mr2">Description:</div>
    <div><%= @event.description%></div>
  </div>

  <br>
  <%=link_to "All Events", events_path %> |
  <%=link_to "Edit", edit_event_path %> |
  <%=link_to "Delete", event_path, method: :delete %>
  <br>
  <br>
  <br>

